name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [ 'main' ]

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      ruby-version: 2.6
      name: github-pages
    defaults:
      run:
        working-directory: ./github-pages
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ env.ruby-version }}
    - run: gem update --system  ${{ env.ruby-version }}
    - run: bundle config set deployment 'true'
    - run: bundle config path vendor/bundle
    - run: bundle install --jobs 4 --retry 3
    - run: cp -R ../projects ./source/
    - run: bundle exec middleman build
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./source/build
        keep_files: true